#root {
    background-color: #7C3743;
    margin: 0;
}

body {
    margin: 0;
}

html {
    background-color: #7C3743;
    height: 100vh;
}

p {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    margin: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

button {
    font-family: 'Raleway', sans-serif;
}

#mainBody {
    height: 80%;
    overflow-y: scroll;
}

.addButton {
    align-items: center;
    width: 30%;
    text-transform: uppercase;
    margin-top: 1em;
    margin-left: .5em;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
    letter-spacing: 2px;
    height: 2em;
    font-size: 14pt;
    background-color: #F3ECDF;
    color: #7C3743;
}

.homeHeader {
    text-align: center;
    margin: 0;
    font-size: 26pt;
    color: #F3ECDF;
    height: 47px;
}