.headline {
    margin-top: 2em;
    text-align: center;
}

.browseSection {
    display: flex;
    flex-wrap: wrap;
    width: 100vw !important;
    height: 375px !important;
    margin-top: 107px;
}

.topRow {
    display: flex;
    flex-wrap: wrap;
    height: 187.5px;
}

.bottomRow {
    display: flex;
    flex-wrap: wrap;
    height: 187.5px;
}

.whites {
    background-image: url(./whiteDiv-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 184px;
    height: 183.5px;
    border-left: solid;
    border-left-color: #F3ECDF;
    border-bottom: solid;
    border-bottom-color: #F3ECDF;
    border-bottom-width: 4px;
}

.bubbles {
    background-image: url(./bubblesDiv-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 187.5px;
    height: 184px;
}

.rose {
    background-image: url(./roseDiv-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 184.5px;
    height: 184px;
    border-left: solid;
    border-left-color: #F3ECDF;
}

.reds {
    background-image: url(./redDiv-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 187.5px;
    height: 184px;
    border-bottom: solid;
    border-bottom-color: #F3ECDF;
    border-bottom-width: 4px;
}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
    color: #F3ECDF;
    margin: 0;
    font-size: 36.5pt;
}