.headline {
    text-align: center;
}

.browseSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topRow {
    display: flex;
    flex-direction: row;
}

.bottomRow {
    display: flex;
    flex-direction: row;
}

.whites {
    background-image: url(./whiteDiv-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 667px;
    width: 375px; */
}

.bubbles {
    background-image: url(./bubblesDiv-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 667px;
    width: 375px; */
}

.rose {
    background-image: url(./roseDiv-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 667px;
    width: 375px; */
}

.reds {
    background-image: url(./redDiv-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 667px;
    width: 375px; */
}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
    color: #F3ECDF;
    margin: 0;
    font-size: 36.5pt;
}