fieldset {
    background-color: white;
    margin: 2em 1.5em 0 1.5em;
}

input {
    background-color: #F3ECDF;
    width: 100%;
    border-style: none;
    height: 2.5em;
}

.logoContainer {
    height: 50vh;
}

.loginForm {
    margin: 0em 1.5em;
}

.loginButton {
    align-items: center;
    width: 257px;
    text-transform: uppercase;
    margin-left: 1.3em;
    margin-top: 1em;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
    letter-spacing: 2px;
    height: 2em;
    font-size: 14pt;
}

.signupButton {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: white;
    margin-left: 0;
    font-size: 14pt;
    color: #6D1A2A;
    margin-bottom: 0;
    padding: 0;
    font-weight: 500;
}

.loginform, p {
    margin-bottom: 0;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainLogo {
    height: 15em;
}

.loginBody {
    background-image: url(./loginBackground-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 667px;
    width: 375px;
}

#signupBody {
    background-image: url(./signupBackground-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 667px;
    width: 375px;
}

#signupFieldset {
    height: 30em;
    margin-bottom: 2em;
}

#signupContainer {
    margin: 0;
}

.signupHeader {
    margin-bottom: 1em;
    font-size: 26pt;
    letter-spacing: 4px;
    font-weight: 700;
}

.reallySignUp {
    align-items: center;
    width: 255px;
    text-transform: uppercase;
    margin-left: 1.35em;
    margin-top: 2em;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
    letter-spacing: 2px;
    height: 2em;
    font-size: 14pt;
}