fieldset {
    background-color: white;
    margin: 2em 1.5em 0 1.5em;
}

input {
    background-color: #F3ECDF;
    width: 100%;
    border-style: none;
    height: 2em;
}

.logoContainer {
    height: 50vh;
}

.loginForm {
    margin: 0em 1.5em;
}

.loginButton {
    align-items: center;
    width: 30%;
    text-transform: uppercase;
    margin-left: 9.5em;
    margin-top: 1.5em;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
    letter-spacing: 2px;
}

.signupButton {
    background-color: #FF584D;
    margin-left: 1em;
    font-size: 12pt;
}

.loginform, p {
    margin-bottom: 0;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainLogo {
    height: 15em;
}